<div class="body-header text-center">Hello, <%= @user.full_name %></div>
<div class="body-text-2 text-center margin-top-20px">
  Forgot your pasword? Click the link to create new one:
</div>
<div class="button">
  <a class="btn btn-full" style="color: #fff;" href="<%= ENV["FRONT_HOST"] + "/restore_password/" + @token %>">Restore My Password</a>
</div>
